<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    </title>Master in Interdisciplinary Data Science(MIDS)@Duke University</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <p> Hi there,<p>
        <p> It is Palindrome Day 2020-0202. Plus, Happy Goundhog Day!<p>
    <img src= "https://lh6.googleusercontent.com/proxy/mbHNciBnEk-UMRt0KEzCpjDYFmig36zxHd1DXtRHsPUous9Gm-jvHuQKP2tnhQVAVqYwy-hsxkve8hVr9SSEpgtdnszXz8ekxnHVkERtZYkxfX6PnFC7aYd67jBU0NdR1MKz6T0hbNMH1_Vn06qur_u0L_2Ks5el0RoVq-9DxtE4CQlRsU_dn44MPes">
    
    {% endblock %}
  </body>
</html>